@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

@import "_normalize.scss";

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  text-align: center;
  color: #1a1429;

  &--wrapper {
    padding-top: 60px;
  }

  &--main {
    position: relative;
    z-index: 1;
  }
}